@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-700: #3f3f46;
  

  --color-metallic-900: #0f172a;
  --color-metallic-800: #1e293b;
}

:root {
  --background: #09090b;
  --foreground: #e4e4e7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-zinc-800);
  border-radius: 3px;
}